<div ng-if="controller.submit" class="result">
  <div ng-if="controller.loading" class="loading">
    <div class="loader"></div>
  </div>
  <div ng-show="controller.displayItems()">
    <ol>
      <li ng-repeat="item in controller.found">
        <div class="text">
          <div class="fullTitle">
            <span class="title">{{item.name}}</span> ({{item.short_name}}) <br>
          </div>
            <div class="description">{{item.description}}</div>
        </div>
        <div class="button">
          <button class="btn btn-secondary" ng-click="controller.onRemove({index: $index});">Don't want this one!</button>
        </div>
      </li>
    </ol>
  </div>
  <div ng-hide="controller.displayItems()" class="alert alert-primary message" role="alert">Nothing found</div>
</div>